<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Permadoro - Pomodoro collectif</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Une application libre de pomodoro permanent pour faire des sessions à plusieurs" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Permadoro" />
    <link rel="manifest" href="/site.webmanifest" />
    <link href="./vendor/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./vendor/bootstrap-icons.min.css">
    <script src="./vendor/bootstrap.bundle.min.js"></script>
    <script src="./vendor/vue.global.prod.js"></script>
    <script src="faviconx-min.js"></script>
    <script type="module" src="./src/app.js"></script>
    <style>
        .card.inactive {
            opacity: 0.5;
        }
    </style>
  </head>

  <body>
    <div id="app" class="container">
      <h1 class="fw-light display-6 text-center mt-4"><img src="icon_text.svg" height="36" class="text-center" /></h1>
      <h2 class="fw-light mt-2 fs-5 text-center mt-4">Un pomodoro <strong>permanent</strong> à partager pour faire des sessions <strong>à plusieurs</strong></h1>
      <div id="pomodoros" class="row mt-5">
        <div v-for="p of pomodoros" class="col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 mt-4 mx-auto" :hidden="!viewAll && p.index != activeIndex" :class="{'col-xxl-5': !viewAll, 'col-lg-7': !viewAll, 'col-md-9': !viewAll}">
            <pomodoro-card
            :key="p.index"
            :ref="p.ref"
            :index="p.index"
            :icon="p.icon"
            :isactive="p.index === activeIndex"
            :partof="p.partof"
            :has-sound="hasSound"
            @change-active="changePomodoroActive"
            @end="endPomodoro"
            @change-period="changePomodoroPeriod"
            @toggle-view-all="toggleViewAll"
            @toggle-sound="toggleSound"
            />
        </div>
      </div>
      <div class="text-center mt-5">
      <button class="btn btn-light" @click="toggleViewAll()" :hidden="viewAll"><i class="bi bi-arrow-left-right"></i> Changer de pomodoro</button>
      <button class="btn btn-light" @click="toggleViewAll()" :hidden="!viewAll"><i class="bi bi-eye-slash"></i> Cacher la mosaïque</button>
      </div>
      <footer class="text-center text-muted mt-5 pt-5 fw-light">
        Logiciel libre sous licence AGPL-3.0 : <a href="https://github.com/24eme/permadoro">voir le code source</a>
      </footer>
    </div>
    <audio id="audio_bell" src="/vendor/Bell_4_BSB_2116_Joseph_SARDIN.ogg"></audio>
    <template id="pomodoro-template">
        <div style="cursor: pointer;" class="card" :class="{'shadow': active, 'inactive': !active, 'shadow-sm': !active, 'border-0': active, 'border-start': active, 'border-5': active }" :style="{ 'border-color': active ? color + ' !important' : '', 'border-width': active ? '12px !important' : '', 'cursor': !active ? 'pointer' : 'inherit' }" @click="setActive()">
            <div class="card-body">
                <span class="position-absolute top-0 start-0 fs-2 ms-2 mt-1" @click="toggleViewAll($event)" style="cursor: pointer;" data-bs-toggle="tooltip" title="Changer de pomodoro">{{ icon }}</span>
                <div v-if="active" class="position-absolute top-0 end-0 text-end">
                    <button class="btn d-block" @click="toggleNotifications()" data-bs-toggle="tooltip" data-bs-placement="right"><i class="bi fs-6" :class="{ 'bi-bell': hasNotification, 'bi-bell-slash-fill': !hasNotification }"></i></button>
                    <button class="btn d-block" @click="toggleSound" data-bs-toggle="tooltip" data-bs-placement="right"><i class="bi fs-5" :class="{ 'bi-volume-up': hasSound, 'bi-volume-mute-fill': !hasSound }"></i></button>
                    <button class="btn d-block" @click="copyLink($event.target)" data-bs-toggle="tooltip" title="Le lien a été copié" data-bs-trigger="manual" data-bs-placement="right"><i class="bi bi-share fs-6"></i></button>
                </div>
                <div class="display-1 text-center mt-4 font-monospace">{{ minuteRest }}:{{ secondRest }}</div>
                <div class="fs-4 text-center mt-2 pb-3">{{ title }}</div>
                <div class="d-flex mt-4">
                    <div v-for="period in periods" class="progress me-1" role="progressbar" aria-label="" :aria-valuenow="period.progress" aria-valuemin="0" aria-valuemax="100" style="height: 12px; cursor: help;" :style="{ 'width': period.width }" data-bs-toggle="tooltip" :title="period.title + ' de ' + period.duration/1000/60 + ' min'" data-bs-placement="top"><div class="progress-bar" :style="{'width': period.progress + '%', 'background': period.color }"></div></div>
                </div>
            </div>
        </div>
    </template>
  </body>
</html>
